In [42]:
import csv
import couchdb
import json
import pandas as pd
import geopandas as gpd
import folium

In [43]:
HOST = "http://admin:admin@172.26.136.58:5984"
couch = couchdb.Server(HOST)
db = couch['test_sudo']

In [44]:
#get ids
i = []
count = 0
for docid in db.view('_all_docs'):
    i.append(docid['id'])

In [45]:

data = []
for doc_id in i:
    if not doc_id.startswith('_'):  # Skip special documents
        doc = db[doc_id]
        sa2_code = doc.get('sa2_code')
        sa2_name = doc.get('sa2_name')
        median_income = doc.get('median_income')
        female_bus_total = doc.get('female_bus_total')
        female_train_total = doc.get('female_train_total')
        female_tram_total = doc.get('female_tram_total')
        male_bus_total = doc.get('male_bus_total')
        male_train_total = doc.get('male_train_total')
        male_tram_total = doc.get('male_tram_total')
        total_pt = int(female_bus_total) + int(female_train_total) + int(female_tram_total) + int(male_bus_total) + int(male_train_total) + int(male_tram_total)
        if sa2_code: 
            data.append({'sa2_code': sa2_code, 'sa2_name': sa2_name, 'median_income': median_income, 'total_pt': total_pt})

In [46]:
max = 0
for i in range(len(data)):
    if data[i]['total_pt'] > max:
        max = data[i]['total_pt']
interval = max/len(data)

sorted_list = sorted(data, key=lambda x: x['total_pt'])

for i in range(len(sorted_list)):
    sorted_list[i]['total_pt'] = i+1

for i in range(len(data)):
    sorted_list[i]['total_pt'] = (sorted_list[i]['total_pt']/len(sorted_list)) * 2 - 1

In [47]:
for i in range(len(sorted_list)):
    if sorted_list[i]['median_income'] == '':
        sorted_list[i]['median_income'] = 0
    else:
        sorted_list[i]['median_income'] = float(sorted_list[i]['median_income'])
max_income = 0
for i in range(len(sorted_list)):
    if sorted_list[i]['median_income'] > max_income:
        max_income = sorted_list[i]['median_income']
scaling_factor = 2/max_income
for i in range(len(sorted_list)):
    sorted_list[i]['median_income'] = sorted_list[i]['median_income'] * scaling_factor - 1

In [48]:
geo = gpd.read_file("./data/SA2_2021_AUST_GDA2020.shp")
df = pd.DataFrame(sorted_list)
geo = geo[['SA2_NAME21', 'SA3_NAME21', 'geometry']]
geo = geo.rename(columns={'SA2_NAME21': 'sa2_name'})
geoJSON = geo.to_json()
group = pd.merge(geo, df, on='sa2_name', how='inner')
group = group.groupby(['SA3_NAME21']).mean()
group = pd.merge(group, geo, on='SA3_NAME21', how='inner').drop(['sa2_name'], axis =1)
group = group.drop_duplicates(subset=['SA3_NAME21'])
group = group.rename(columns={'SA3_NAME21': 'location'})
group

,location,median_income,total_pt,geometry
0,Adelaide City,-0.371154,0.950612,"POLYGON ((138.58097 -34.93023, 138.58094 -34.9..."
2,Adelaide Hills,-0.316611,-0.225400,"POLYGON ((138.75611 -34.82106, 138.75568 -34.8..."
10,Albany,-0.503171,-0.508916,"POLYGON ((117.86826 -35.00096, 117.86842 -35.0..."
21,Albury,-0.368064,-0.152098,"POLYGON ((146.94116 -36.06424, 146.94079 -36.0..."
26,Alice Springs,-0.429808,-0.181381,"POLYGON ((133.85520 -23.68486, 133.85500 -23.6..."
...,...,...,...,...
2406,Wyong,-0.368938,-0.062500,"POLYGON ((151.44535 -33.36239, 151.44545 -33.3..."
2420,Yarra,-0.268366,0.845455,"POLYGON ((144.99255 -37.80249, 144.99266 -37.8..."
2428,Yarra Ranges,-0.344941,0.070804,"POLYGON ((145.35181 -37.90189, 145.35160 -37.9..."
2441,Yorke Peninsula,-0.490131,-0.829021,"POLYGON ((137.67402 -33.94975, 137.67419 -33.9..."
2446,Young - Yass,-0.384420,-0.632430,"POLYGON ((148.88281 -34.84499, 148.88267 -34.8..."

In [49]:
geo2 = gpd.read_file("./data/SA3_2021_AUST_GDA2020.shp")
geo2 = geo2[['SA3_NAME21', 'geometry']]
geo2 = geo2.rename(columns={'SA3_NAME21': 'location'})
geo2 = geo2.drop_duplicates(subset=['location'])
senti2 = pd.read_json("./data/modified_data2.json")
senti2 = senti2[['location', 'sentiment']]
group2 = pd.merge(geo2, senti2, on='location', how='inner')
group2 = group2.groupby(['location']).mean()
group2 = pd.merge(group2, geo2, on='location', how='inner')
group2

,location,sentiment,geometry
0,Ballarat,-0.888500,"POLYGON ((143.85304 -37.48237, 143.85332 -37.4..."
1,Bendigo,0.108850,"POLYGON ((144.28426 -36.64559, 144.28446 -36.6..."
2,Campaspe,0.458800,"POLYGON ((144.28630 -36.16042, 144.28626 -36.1..."
3,Cardinia,0.440400,"POLYGON ((145.48373 -38.23289, 145.48329 -38.2..."
4,Geelong,-0.282600,"POLYGON ((144.36042 -38.14200, 144.36239 -38.1..."
5,Heathcote - Castlemaine - Kyneton,-0.002267,"POLYGON ((143.97372 -37.03420, 143.97243 -37.0..."
6,Melbourne City,-0.159518,"POLYGON ((144.96736 -37.83103, 144.96585 -37.8..."
7,Melton - Bacchus Marsh,-0.226300,"POLYGON ((144.76430 -37.70928, 144.76689 -37.7..."
8,Surf Coast - Bellarine Peninsula,0.254300,"MULTIPOLYGON (((144.68579 -38.24574, 144.68507..."
9,Warrnambool,-0.345400,"MULTIPOLYGON (((142.00870 -38.41715, 142.00876..."

In [50]:
combined = pd.merge(group2, group, on='location', how='inner')
combined = combined.drop(['geometry_x', 'geometry_y'], axis = 1)
combined

                            location  sentiment  median_income  total_pt
0                           Ballarat  -0.888500      -0.345543  0.072115
1                            Bendigo   0.108850      -0.371125  0.023164
2                           Campaspe   0.458800      -0.426023 -0.686364
3                           Cardinia   0.440400      -0.367304 -0.155594
4                            Geelong  -0.282600      -0.345902  0.375291
5  Heathcote - Castlemaine - Kyneton  -0.002267      -0.368534  0.010927
6                     Melbourne City  -0.159518      -0.350503  0.900022
7             Melton - Bacchus Marsh  -0.226300      -0.320250  0.010101
8   Surf Coast - Bellarine Peninsula   0.254300      -0.417045 -0.341608
9                        Warrnambool  -0.345400      -0.439035 -0.201267

In [51]:
combined['sentiment'].corr(combined['median_income'])

-0.40766293391219516

In [52]:
combined['sentiment'].corr(combined['total_pt'])

-0.45867802625033294